
@media all and (min-width: 1200px) {
    header h1{
      font-size: 80px;
    }
    main button{
      font-size: 20px;
      margin: 30px;
    }
    main h2{
      font-size: 40px;
    }
    
  };

